
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #f0f0f0;
}


.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 15px;                             
  width: 80%;                           
  padding: 20px;
  margin: auto;
  justify-items: stretch;                 
  align-items: start;                     
}


.card {
  width: 100%;            
  height: 200px;         
  perspective: 1000px;    
  cursor: pointer;
  display: flex;
}


.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.card-inner:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}


.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff; 
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}


.card-back img {
  width: 40%;
  border-radius: 10px;
}


.win-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


.win-message {
  font-size: 5rem;                
  font-weight: 800;
  color: #ffffff;                 
  margin-bottom: 40px;
  animation: dropIn 1s ease-out;
    
}


.play-again {
  padding: 14px 30px;
  font-size: 1.4rem;
  font-weight: bold;
  background: #00ff88;
  color: #000;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
}

.play-again:hover {
  background: #00cc6a;
  transform: scale(1.05);
}


@keyframes dropIn {
  0% {
    opacity: 0;
    transform: translateY(-200px) scale(0.8);
  }
  60% {
    opacity: 1;
    transform: translateY(20px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

